*{
    margin: 0%;
    padding: 0%;
}
.header{
    height: 150px;
    background-color: aqua;

}
.body{
    display: flex;
}
.left{
    height:400px;
    width:50%;
}
.top{
    height: 50%;
    background-color: blue;
}
.bottom{
    height: 50%;
    background-color: aquamarine;
}
.right{
    height:400px;
    width: 50%;
}
.one{
    height: 40%;
    background-color: yellowgreen;
}
.two{
    height: 30%;
    background-color: violet;
}
.three{
    height:30%;
    background-color: tomato;
}
.footer{
    height:100px;
    background-color: antiquewhite;
}