*{
    margin: 0%;
    padding: 0%;
}
.Header{
        height: 150px;
        width: 100%;
        background-color: beige;
}
.Body{
    display: flex;
}
.Main_Content{
    height:500px;
    width:80%;
    background-color: aquamarine;
}
.Right{
    width: 20%;
    height: 500px;
    background-color: black;
}
.Navigation_Menu{
    height: 50%;
    
    background-color: blueviolet;
}
.Additional_Stuff{
    height:250px;
    
    background-color: cadetblue;
}
.Footer{
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
}
