*{
    margin: 0%;
    padding: 0%;
}
.header{
    height: 100px;
    width: 100%;
    background-color: black;
}

.body{
    display: flex;
}

.main_Content{
    height: 400px;
    width: 33.33%;
    background-color: aqua;
}

.Navigation_Menu{
    height: 400px;
    width: 33.33%;
    background-color: blue;
}

.Additional_Stuff{
    height: 400px;
    width: 33.33%;
    background-color: brown;
}

.footer{
    height: 75px;
    width:100%;
    background-color: chartreuse;
}
