*{
    margin:0;
    padding:0;
}
.header{
    background-color: blueviolet;
    height: 100px;
    color: beige;
    text-align: center;
    font size: 25px;
}
#head{
    background-color: blueviolet;
    height: 100px;
}
.banner{
    background-color: crimson;
    height:400px;
    text-align: center;
    font-size: 60px;
}
.about{
    display: flex;
}
.about_content{
    width:50%;
    height: 400px;
    background-color: blue;
    text-align: center;
    color:white;
}
.about_images{
    width:50%;
    height: 400px;
    background-color: chocolate;
    text-align: center;
    color:white;
}
.service_section{
    display: flex;
}
.service1{
    width: 33.3%;
    height: 300px;
    background-color: aqua;
}
.service2{
    width: 33.3%;
    height: 300px;
    background-color: black;
}
.service3{
    width: 33.3%;
    height: 300px;
    background-color: cadetblue;
}
.ad_section{
    display: flex;
}
.ad_content{
    width:70%;
    height: 300px;
    background-color: darkgoldenrod;
}
.ad_image{
    width:30%;
    height: 300px;
    background-color: darkgray;    
}
.footer{
    background-color: aquamarine;
    height:50px;
    
}